* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 50px;
}
.logo {
    grid-row: 1 / 3;
}
a {
    text-decoration: none;
}
.logo-img {
    padding-top: 40px;
    padding-left: 20px;
}
.header-search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid rgb(199, 197, 197);
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search > input {
    height: 50px;
    width: 300px;
    outline: none;
    background-color: rgb(247, 244, 244);
}
.search > button {
    height: 50px;
    width: 50px;
    outline: none;
    background-color:  rgb(247, 244, 244);
}
svg {
    height: 30px;
    width: 30px;
    transition: width 2s, height 2s;
}
svg:hover {
    height: 40px;
    width: 40px;  
}
.menu-icons-list {
    list-style-type: none;
    overflow: hidden;
  }
.menu-icons-list-first {
    float: right;
  }
.menu-icons-list-first a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
  }
.menu-categories {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
.menu-categories-list a {
    display: block;
    text-align: center;
    font-weight: bolder;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
  }  
.menu-categories-list a:hover {
    background-color: #111;
    color: white;
  }
.banner {
    display: grid;
    grid-template-rows: 400px 100px;
}
.opportunities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 30px;
    padding-right: 30px;
}
.opportunities-box {
    text-align: center;
    font-weight: bolder;
    border: 1px solid black;
    height: 50px;
}
.opportunities-box a {
    text-decoration: none;
    color: black;
}
.category-1 {
    height: 500px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
}
.description {
   text-align: center;
   padding-top: 80px;
}
.description button {
    width: 100px;
    background-color: white;
    font-weight: bolder;
}
.description button:hover {
    background-color: black;
    color: white;
}
.good {
    text-align: center;
    padding-top: 20px;
    width: 300px;
}
.good a {
    text-decoration: none;
    color: black;
}
.good a img {
    height: 380px;
    width: 250px;
}
.goods-detail {
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.goods-detail-box {
    text-align: center;
    padding-top: 50px;
}
.color > .blue, .tan {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
}
.blue {
    background-color: blue;
}
.blue:hover, .tan:hover {
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.tan {
    background-color: tan;
}
.size-box {
    display: inline-block;
    height: 30px;
    width: 30px;
    font-size: 18px;
    border: 1px solid black;
}
.size-box:hover {
    background-color: black;
    color: white;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.basket > button {
    width: 150px;
    background-color: black;
    color: white;
}
.basket > button:hover {
    opacity: 0.6;
}
.detail-description {
    position: relative;
    left: 30px;
    text-align: left;
}
.category-2 {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.category-2-box{
    height: 400px;
}
.category-2-box > a {
    padding-left: 25px;
}
.category-2-box > a > img {
    transition: opacity 1s;
}
.category-2-box > a > img:hover {
    opacity: 0.5;
}
.subscribe {
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(238, 236, 236)
}
.subscribe > .text {
    padding-left: 100px;
    padding-top: 50px;
    width: 500px;
}
.e-mail {
    padding-left: 50px;
    border-left: 2px solid rgb(177, 176, 176);
}
.e-mail > p {
    padding-top: 30px;
    font-weight: bolder;
}
.e-mail > input {
    width: 400px;
    height: 42px;
}
.e-mail > button {
    border: none;
}
.footer {
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 50px;
}
.corporate, .help, .socialmedia {
    padding-top: 50px;
}
.corporate > a, .help > a, .socialmedia > a {
    text-decoration: none;
    color: black;
    position: absolute;
    left: 50px;
}
.help > a {
    left: 500px;
}
.socialmedia > a {
    left: 950px;
}
.contact > svg {
    height: 20px;
    width: 20px;
}
.payment {
    grid-column: 1 / 4;
    background-color: black;
}
.payment-secure {
    float: left;
    padding-left: 50px;
    color: white;
}
.payment-secure > svg {
    height: 30px;
    width: 30px;
}
.payment-copyright {
    float: right;
    padding-right: 50px;
    color: white;
}
@media screen and ( max-width: 890px ) {
    .good {
        width: 400px;
    }
    .search > input {
        height: 30px;
        width: 150px;
    }
    .search > button {
        height: 30px;
        width: 30px;
    }
}